[package]
name = "interledger-api"
version = "0.1.1-alpha.1"
authors = ["Evan Schwartz <evan@ripple.com>"]
description = "API for managing an Interledger node"
license = "Apache-2.0"
edition = "2018"
repository = "https://github.com/interledger-rs/interledger-rs"

[dependencies]
bytes = "0.4.12"
futures = "0.1.25"
futures-retry = "0.3.3"
http = "0.1.17"
interledger-packet = { path = "../interledger-packet", version = "^0.2.2-alpha.1"}
interledger-http = { path = "../interledger-http", version = "^0.2.2-alpha.1"}
interledger-ildcp = { path = "../interledger-ildcp", version = "^0.2.2-alpha.1"}
interledger-router = { path = "../interledger-router", version = "^0.2.2-alpha.1"}
interledger-service = { path = "../interledger-service", version = "^0.2.2-alpha.1"}
interledger-service-util = { path = "../interledger-service-util", version = "^0.2.2-alpha.1"}
interledger-settlement = { path = "../interledger-settlement", version = "^0.1.1-alpha.1"}
interledger-spsp = { path = "../interledger-spsp", version = "^0.2.2-alpha.1"}
interledger-stream = { path = "../interledger-stream", version = "^0.2.2-alpha.1" }
interledger-ccp = { path = "../interledger-ccp", version = "^0.1.1-alpha.1"}
interledger-btp = { path = "../interledger-btp", version = "^0.2.2-alpha.1"}
log = "0.4.6"
serde = "1.0.99"
serde_json = "1.0.39"
reqwest = "0.9.18"
url = "2.1.0"
warp = "0.1.19"

[badges]
circle-ci = { repository = "interledger-rs/interledger-rs" }
codecov = { repository = "interledger-rs/interledger-rs" }
