[package]
name = "interledger-settlement"
version = "0.1.1-alpha.1"
authors = ["Evan Schwartz <evan@ripple.com>"]
description = "Settlement-related components for Interledger.rs"
license = "Apache-2.0"
edition = "2018"
repository = "https://github.com/interledger-rs/interledger-rs"

[dependencies]
bytes = { version = "0.4.12", default-features = false }
futures = { version = "0.1.25", default-features = false }
hyper = { version = "0.12.29", default-features = false }
interledger-packet = { path = "../interledger-packet", version = "^0.2.2-alpha.1"}
interledger-service = { path = "../interledger-service", version = "^0.2.2-alpha.1"}
interledger-ildcp = { path = "../interledger-ildcp", version = "^0.2.2-alpha.1"}
log = { version = "0.4.6", default-features = false }
reqwest = { version = "0.9.17", default-features = false }
serde = { version = "1.0.99", default-features = false }
serde_json = { version = "1.0.39", default-features = false }
tower-web = { version = "0.3.7", default-features = false }
url = { version = "2.1.0", default-features = false }
lazy_static = { version = "1.3.0", default-features = false }
uuid = { version = "0.7.4", default-features = false }
rand = { version = "0.6.5", default-features = false }
ring = { version = "0.14.6", default-features = false }
tokio-retry = { version = "0.2.0", default-features = false }
tokio = { version = "0.1.20", default-features = false }
num-bigint = { version = "0.2.2", default-features = false }
num-traits = { version = "0.2.8", default-features = false }

[dev-dependencies]
parking_lot = { version = "0.8.0", default-features = false }
mockito = { version = "0.20.0", default-features = false }
env_logger = { version = "0.6.1", default-features = false }
